@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

/*==============variables===========*/
$footer-color: #000000;
$body-color: #fefefe;

@mixin fontSetting($size, $color) {
  font-family: "Roboto", san-serif;
  font-size: $size;
  color: $color;
}
@mixin layoutSetting($direction) {
  display: flex;
  flex-direction: $direction;
  @if $direction == row or $direction == rowreverse {
    column-gap: 10px;
  } @else if $direction == column or $direction == column-reverse {
    row-gap: 20px;
  }
}
html,
body {
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  height: 50px;
  z-index: 10;
  position:absolute;
  @include layoutSetting(row);
  @media screen and (max-width: 799px) {
    background-color: $footer-color;
    position:relative;
  }
  justify-content: space-around;
  &-brand {
    width: 50%;
    display: flex;
    align-items: flex-start;
    a {
      text-decoration: none;
      @include fontSetting(2rem, $body-color);
      font-weight: bolder;
    }
  }
  &-nav {
    @include layoutSetting(row);
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 799px) {
      @include layoutSetting(column);
      display:none;
      background-color: $footer-color;
      position:absolute;
      top:50px;
      width:100%;
      height: 90vh;
    }
    &-item {
      a {
        text-decoration: none;
        @include fontSetting(14px, $body-color);
        font-weight: bolder;
      }
      &:hover {
        border-bottom: 2px solid $body-color;
        a {
          color: $body-color;
          text-shadow: 2px 2px 4px $body-color;
          @media screen and (max-width:799px){
            color:$body-color;
          }
        }
      }
    }
  }
  #navbar-responsive-btn {
    @media screen and(min-width:800px) {
      display: none;
    }
    @media screen and (max-width: 799px) {
      display: flex;
      justify-content:center;
      align-items: center;
      color:$body-color
    }
  }
}
.main-content {
  width: 100%;
  margin-bottom: 5rem;
  @media screen and (max-width: 799px) {
    @include layoutSetting(column);
    justify-content: center;
  }
  &-block:not(#introduction) {
    margin: 100px auto auto;

    @media screen and (min-width: 800px) {
      width: 70%;
    }

    @media screen and (max-width: 799px) {
      width: 100%;
    }
  }
}
#introduction {
  height: 75vh;
  background-image: url(images/desktop/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  @media screen and (max-width: 799px) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  p {
    width: 40%;
    position: absolute;
    border: 3px solid $body-color;
    padding: 20px 20px 20px 30px;
    @media screen and(min-width:800px) {
      top: 3em;
      left: 3em;
    }
    @media screen and (max-width: 799px) {
      width: 80%;
    }
    text-transform: uppercase;
    color: $body-color;
    @include fontSetting(50px, $body-color);
  }
}

#interactive {
  @include layoutSetting(row);
  @media screen and (max-width: 799px) {
    @include layoutSetting(column);
  }
  @media screen and (min-width: 800px) {
    position: relative;
    height: 50vh;
  }
  &-img {
    width: 50%;
    @media screen and (max-width: 799px) {
      width: 100%;
    }
    img {
      width: 100%;
    }
  }
  &-content {
    background-color: $body-color;
    @include layoutSetting(column);
    row-gap: 5px;
    @media screen and(min-width:800px) {
      position: absolute;
      left: 40%;
      top: 30%;
      width: 50%;
      padding-top: 20px;
      padding-left: 50px;
    }
    @media screen and (max-width: 799px) {
      width: 100%;
      @include layoutSetting(column);
      align-items: center;
      justify-content: center;
    }

    h1 {
      @include fontSetting(40px, $footer-color);
      font-weight: lighter;
      text-transform: uppercase;
      padding-left:2rem;
      padding-right:2rem;
    }
    p {
      @include fontSetting(11px, $footer-color);
      padding-left:2rem;
      padding-right:2rem;
    }
  }
}

#creation {
  @include layoutSetting(column);
  &-header {
    @media screen and (max-width:799px){
      @include layoutSetting(column);
      justify-content: center;
    }
    @include layoutSetting(row);
    align-items: center;
    justify-content: space-between;
    width: 100%;
    h1 {
      @include fontSetting(30px, $footer-color);
      font-weight: lighter;
      text-transform: uppercase;
    }

    #see-all-btn {
      width: 15%;
      height: 20px;
      border: 1px solid $footer-color;
      background: none;
      &:hover{
        background-color:$footer-color;
        color: $body-color;
      }
     
    }
  }
  &-rows {
    @include layoutSetting(column);
    height: 100vh;
    #row-1,
    #row-2 {
      @include layoutSetting(row);
      height: 50%;
      div {
        width: 25%;
        height: 100%;
        position:relative;
        h1 {
          @include fontSetting(15px,$body-color);
          font-weight:bold;
          position:absolute;
          bottom:0;
          left:.5rem;
          text-transform: uppercase;
          
        }
      }
      @media screen and (max-width: 799px) {
        @include layoutSetting(column);
        div {
          width: 80%;
          display: flex;
          justify-content: center;
          margin:auto;
        }
      }
    }
  }
}

.footer {
  background-color: $footer-color;
  @include layoutSetting(row);
  justify-content: space-between;

  @media screen and (min-width: 800px) {
    padding-top: 30px;
    justify-content: space-around;
  }
  @media screen and (max-width: 799px) {
    padding-top:30px;
    @include layoutSetting(column);
  }
  &-item {
    @include layoutSetting(column);
    row-gap: 10px;
    * {
      color: $body-color;
    }
    &-brand {
      @media screen and (max-width: 799px) {
        display: flex;
        justify-content: center;
        width: 100%;
      }
      a {
        @include fontSetting(25px, $body-color);
        font-weight: bolder;
        text-decoration: none;
      }
    }
    &-navbar {
      @media screen and (max-width: 799px) {
        @include layoutSetting(column);
        justify-content: center;
        align-items: center;
        width: 100%;
      }
      @include layoutSetting(row);
      &-nav {
        a {
          @include fontSetting(12px, $body-color);
          text-decoration: none;
        }
      }
    }
    &-social {
      @include layoutSetting(row);
      justify-content: flex-end;
      @media screen and (max-width: 799px) {
        justify-content: center;
        font-weight: bolder;
        align-items: center;
      }
      align-items: center;
    }
    &-copyrights {
      @include fontSetting(12px, $body-color);
      @media screen and (max-width: 799px) {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }
}
